#welcomeMessage {
font-family: futura;
color: red;
text-align: center;
font-size: 50px;
cusror: default;
}
#moreInfo {
font-family: futura;
color: grey;
text-align: center;
font-size: 18px;
cusror: default;
}
a {
cursor: pointer;
color: red;
}
a:hover {
text-decoration: underline;
}
fadeIn {
animation-name: go;
  animation-duration: 1.9s;
  animation-iteration-count: 1;
}
@keyframes go {
 
  0% {background-color: white;}
  100%   {background-color: #e84851;}

}   
